Hi <%= @user.name %>

Welcome to the Sample App! Click on the link below to activate your account: 
<%= edit_account_acctivation_url(@user.activation_token, email: @user.email) %>

<h1>UserMailer#account_activation</h1>
<p>
<%= @greeting %>, find me in app/views/user_mailer/account_activation.text.erb
</p>